REACT_APP_BACKEND_URL=https://your-backend-url.example.com
WDS_SOCKET_PORT=443
ENABLE_HEALTH_CHECK=false
GOOGLE_API_KEY=AQ.Ab8RN6IC2lp0D7N8PRF3r_1svnb442tWUIizCqlyECMwL4i-yA
SUPABASE_URL=https://nzpkmxkpsplixpnarokv.supabase.co
SUPABASE_KEY=sb_publishable_j9mo_PowqE5hJza-erA0ng_YVkuLWnf
SUPABASE_KEY=sb_secret_N0hK2lMpgfhlpWJvKVqjxA_oNHBkz_F
VITE_API_BASE_URL=https://rail-dhara-backend.onrender.com