# Python
__pycache__/
*.pyc
venv/
.venv/
*.egg-info/

# Node
node_modules/
dist/
build/

# Env files
.env
.env.local

# OS
.DS_Store

# IDE
.vscode/
.idea/

# Hardhat / blockchain
artifacts/
cache/
typechain-types/

#backend
.env
backend/.env
