# Python
__pycache__/
*.pyc
venv/
.venv/
*.egg-info/

# Node
node_modules/
dist/
build/

# Env files
.env
.env.local

# OS
.DS_Store

# IDE
.vscode/
.idea/

# Hardhat / blockchain
artifacts/
cache/
typechain-types/

#backend
.env
backend/.env
backend/uploads/17bbb76c-45bb-426f-8960-5017b2cfb2db.pdf
backend/uploads/17bbb76c-45bb-426f-8960-5017b2cvb2db.pdf
backend/uploads/27ca7c43-e98f-4b92-9e2a-accbedc7-6a3f.pdf
backend/uploads/27ca7c43-e98f-4b92-9e2a-accbedc76a3f.pdf
backend/uploads/98c927a0-551b-4659-9d76-334a4e406dda.pdf
backend/uploads/cba79398-2ca3-4d33-976c-d0635f82ccdf.pdf
