fastapi
uvicorn
pydantic
python-dotenv
pandas

langchain
langchain-community
langchain-core
chromadb
sentence-transformers
langchain-text-splitters

pymupdf
google-genai
easyocr

pulp

httpx
requests

supabase
